[Unit]
Description=RpiTracker Server

[Service]
ExecStart=/usr/bin/node  /usr/local/sbin/RpiTracker/server/server.js
Restart=always

[Install]
WantedBy=multi-user.target
