doctype html
head
  meta(charset='utf-8')
  title 404 Not Found
  style.
    body {
        
        background-image:linear-gradient(45deg, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0.09) 45%,rgba(29, 29, 29, 0.09) 45%, rgba(29, 29, 29, 0.09) 100%),linear-gradient(45deg, rgba(239, 239, 239, 0.07) 0%, rgba(239, 239, 239, 0.07) 41%,rgba(19, 19, 19, 0.07) 41%, rgba(19, 19, 19, 0.07) 100%),linear-gradient(135deg, rgba(12, 12, 12, 0.08) 0%, rgba(12, 12, 12, 0.08) 40%,rgba(153, 153, 153, 0.08) 40%, rgba(153, 153, 153, 0.08) 100%),linear-gradient(45deg, rgba(2, 2, 2, 0.02) 0%, rgba(2, 2, 2, 0.02) 74%,rgba(113, 113, 113, 0.02) 74%, rgba(113, 113, 113, 0.02) 100%),linear-gradient(90deg, rgba(132, 132, 132, 0.03) 0%, rgba(132, 132, 132, 0.03) 22%,rgba(39, 39, 39, 0.03) 22%, rgba(39, 39, 39, 0.03) 100%),linear-gradient(45deg, rgba(34, 34, 34, 0.03) 0%, rgba(34, 34, 34, 0.03) 76%,rgba(98, 98, 98, 0.03) 76%, rgba(98, 98, 98, 0.03) 100%),linear-gradient(90deg, rgb(187, 187, 187),rgb(13, 13, 13));
        color : #fff;
        background-attachment: fixed;
        background-repeat:repeat;
    }
    a , a:visited {
      text-decoration:none;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 1.4em;
      color:#fff;
    }
    .label {
    width: 500px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 2em;
    }   
h1(style='font-family: Tahoma, Geneva, sans-serif;text-align:center ; font-size: 1.8em;') 
  a(href='/') RpiTracker 
.label  
  br
  h1(style='text-align:center') 404 
  h4(style='text-align:center;letter-spacing: 10px;') Not Found 
 
