doctype html
head
  meta(charset='utf-8')
  title RpiTracker Login
  style.
    body {
        background: #111;
        color : #fff
    }
    .label {
    width: 500px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 2em;
    }
h1(style='text-align:left ; font-size: 2.5em;') RpiTracker    
.label  
  br
  h1(style='text-align:center') 404 
  h4(style='text-align:center;letter-spacing: 10px;') Not Found 
 
