doctype html
head
  meta(charset='utf-8')
  title 404 Not Found
  style.
    body {
        background: #111;
        color : #fff
    }
    a , a:visited {
      text-decoration:none;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 1.4em;
      color:#fff;
    }
    .label {
    width: 500px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 2em;
    }   
h1(style='font-family: Tahoma, Geneva, sans-serif;text-align:center ; font-size: 1.8em;') 
  a(href='/') RpiTracker 
.label  
  br
  h1(style='text-align:center') 404 
  h4(style='text-align:center;letter-spacing: 10px;') Not Found 
 
