doctype html
head
  meta(charset='utf-8')
  title RpiTracker Login
  style.
    body{      
      color:#fff;      
      /*background-image: linear-gradient(135deg, rgb(59, 72, 175) 0%, rgb(59, 72, 175) 31%,rgb(55, 66, 150) 31%, rgb(55, 66, 150) 46%,rgb(51, 60, 126) 46%, rgb(51, 60, 126) 56%,rgb(48, 54, 101) 56%, rgb(48, 54, 101) 83%,rgb(44, 48, 77) 83%, rgb(44, 48, 77) 93%,rgb(40, 42, 52) 93%, rgb(40, 42, 52) 100%) ;      
     */ background-image: linear-gradient(135deg, rgb(16, 16, 60) 0%, rgb(16, 23, 49) 31%,rgb(15, 12, 15) 31%, rgb(55, 66, 150) 46%,rgb(51, 60, 126) 46%, rgb(0, 0, 0) 56%,rgb(0, 0, 0) 56%, rgb(33, 41, 106) 83%,rgb(11, 17, 55) 53%, rgb(44, 48, 77) 93%,rgb(40, 42, 52) 93%, rgb(0, 0, 0) 12345%);
      background-attachment: fixed;
      background-repeat:repeat;      
    }
    a , a:visited {
      text-decoration:none;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 1.4em;
      color:#fff;
    }
    .login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
    }
    .login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
    }
    .login-form input[type="password"],
    .login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
    }
    .login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    }
    input{
    text-align:center;
    }
    ::-webkit-input-placeholder {
      text-align: center;
    }
    :-moz-placeholder { 
      text-align: center;  
    }
    ::-moz-placeholder {   
      text-align: center;  
    }
    :-ms-input-placeholder {  
      text-align: center; 
    }
    
.login-form  
  br
  h1(style='font-family: Tahoma, Geneva, sans-serif;') 
    a(href='/') RpiTracker
  br
  h3(style='text-align:center') Login
  form(action='auth' method='POST')
    input(type='text' name='username' placeholder='Username' required='')
    input(type='password' name='password' placeholder='Password' required='')
    input(type='submit' value='LogIn' autofocus)
  if (input_alert)
    h3(style='text-align:center;color:#e8b02c;font-size: 0.8em;') Check again your username/password , are not valid!
     
